<div class="container">
  <h1>Sign Up!</h1>
  <form name="signupForm" novalidate ng-if="!signUpCtrl.infoSaved">

    <div class="form-group">
      <label for="firstName">First name:</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name"
          ng-model="signUpCtrl.user.firstName"
          required
          minlength="4"
          ng-maxlength="10">
    </div>

    <span
      ng-if="(signupForm.firstName.$error.minlength || signupForm.firstName.$error.required) && signupForm.firstName.$touched">
      First name must be at least 4 characters long
    </span>
    <span ng-if="signupForm.firstName.$error.maxlength && signupForm.firstName.$touched">
      First name must not be longer than 10 characters
    </span>

    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name"
      ng-model="signUpCtrl.user.lastName"
      required
      minlength="4"
      ng-maxlength="10">
    </div>

    <span
      ng-if="(signupForm.lastName.$error.minlength || signupForm.lastName.$error.required) && signupForm.lastName.$touched">
      Last Name must be at least 4 characters long
    </span>
    <span ng-if="signupForm.firstname.$error.maxlength && signupForm.firstname.$touched">
      Last Name must not be longer than 10 characters
    </span>


    <div class="form-group">
      <label for="emailAddress">Email address:</label>
      <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email address"
      ng-model="signUpCtrl.user.emailAddress"
      required>
    </div>

    <span ng-if="signupForm.emailAddress.$invalid && signupForm.emailAddress.$touched">
        Must be a valid email address: handle@domain format
    </span>

    <div class="form-group">
      <label for="phoneNumber">Phone number:</label>
      <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone ###-###-####"
      ng-model="signUpCtrl.user.phoneNumber"
      pattern="(\d{3})-(\d{3})-(\d{4})">
    </div>

    <span ng-if="signupForm.phoneNumber.$invalid && signupForm.phoneNumber.$touched">
      Phone number must be in the format ###-###-####.
    </span>

    <div class="form-group">
      <label for="menuNumber">Menu number:</label>
      <input type="text" class="form-control" id="menuNumber" name="menuNumber" placeholder="Menu number"
      ng-model="signUpCtrl.user.menuNumber"
      required>
      <span ng-if="signUpCtrl.menuItemDoesntExist">
        No such menu number exists
      </span>
    </div>

    <button class="btn btn-default"
          ng-disabled="signupForm.$invalid"
          ng-click="signUpCtrl.submit()">Sign up</button>

  </form>
  <span ng-if="signUpCtrl.infoSaved">
    Your information has been saved.
  </span>
</div>
